@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", serif;
  --color-primary: #595143;
  --color-secondary: #8a8c80;
  --color-light: #d6d9d2;
  --color-dark: #000a0d;
  --color-danger: #a65d5d;
}

div#root {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
